name: check up-to-date
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  check-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.2
      - run: |
          ./script/konstraint.sh create . -o k8s
          opa build -b .
          git diff --quiet
