name: check up-to-date
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  check-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aquaproj/aqua-installer@v2.0.2
        with:
          aqua_version: v1.26.2
      - run: |
          ./script/konstraint.sh create . -o k8s
          opa build -b .
          git diff --quiet
