name: check up-to-date
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  check-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.7
      - run: |
          ./script/konstraint.sh create . -o k8s
          opa build -b .
          git diff --quiet
