name: check up-to-date
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  check-up-to-date:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.1
      - run: |
          ./script/konstraint.sh create . -o k8s
          opa build -b .
          git diff --quiet
