name: conftest
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  conftest-test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: aquaproj/aqua-installer@v2.0.2
        with:
          aqua_version: v1.30.1
      - run: |
          conftest test example/safe.yaml -p pod-security-standards
          ! conftest test example/unsafe.yaml -p pod-security-standards # should fail
          conftest test example/allowed.yaml -p pod-security-standards
