name: e2e
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.56.6
      - run: helm plugin install https://github.com/databus23/helm-diff
      - run: ./e2e/e2e.sh
