name: e2e
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - uses: aquaproj/aqua-installer@v4.0.4
        with:
          aqua_version: v2.55.1
      - run: helm plugin install https://github.com/databus23/helm-diff
      - run: ./e2e/e2e.sh
