name: gator
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  gator-verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - run: |
          ./script/gator.sh verify ./...
