name: gator
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  gator-verify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6
      - run: |
          ./script/gator.sh verify ./...
